<html lang="en">
  <%- include('./partials/head') %>
<body>
<div class="blog content">
  <h2>Current Messages:</h2>
<% if(messages.length >0){%>
  <% messages.forEach(message =>  { %> 
       <h3><%=message.text %></h3>
       <p><%= message.user%></p>
       <p><%=message.added%></p>
      </a>
  <%  })  %> 
  <% }else{ %> 
      <h2>No messages to display</h2>
  <% } %> 
  <a href="./new"><button>Add new message</button></a>
</div>
<%- include('./partials/footer') %>
</body>
</html>
